// Imports
@import "compass/layout/sticky-footer"
@import "compass/reset"
@import "compass"
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic)
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=cyrillic,latin)


// Variables 
$main-light-color: #fff
$main-dark-colot: #000
$sub-dark-color: adjust-lightness($main-dark-colot, 50%)
$main-link-color: #bb1d1d
$border-color: rgba(194, 194, 194,.5)
$light-border-color: rgba(white,.95)
$dark-text-shadow: rgba(black,.55)
$light-text-shadow: rgba(white,.95)
$red-button-bg: #bb1d1d
$blue-button-bg: #149ec5

$icons: sprite-map("icons/*.png")

$default-border-radius: 5px
$bs: border-box

$grid-size: 960px
$conrent-size: 800px


// Mixins
+sticky-footer(45px, ".wrapper", ".footer-push", "footer")
=arrow-shape($point)
    $opposite: opposite-position($point)
    border: 18px solid transparent
    border-#{$opposite}: 10px solid $red-button-bg
    border-#{$point}: 0
    height: 0
    width: 0


// Text styles
@font-face 
    font-family: 'PFAgoraSlabProRegular'
    src: url('/fonts/pfagoraslabpro-medium-webfont.eot')
    src: url('/fonts/pfagoraslabpro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/pfagoraslabpro-medium-webfont.woff') format('woff'), url('/fonts/pfagoraslabpro-medium-webfont.ttf') format('truetype')
    font-weight: normal
    font-style: normal
html 
    -webkit-font-smoothing: antialiased
    font-family: 'PT Sans', sans-serif
    font-size: 62.5%
    line-height: 1.8em
    text-shadow: 0 1px 1px $dark-text-shadow
    height: 100%
a 
    +link-colors($main-link-color, adjust-lightness($main-link-color, -10%))
    text-decoration: none
h2
    font-size: 2.5em
    color: #149ec5
    padding-top: .3em
    i
        margin: 0 10px -3px 0
h3
    font-size: 1.4em
    font-weight: bold
    min-height: 40px
    padding-top: .9em
p
    font-size: 1.3em
    padding-top: .9em
small 
    font-size: .9em
    color: $sub-dark-color
.italic 
    font-style: italic
.bold
    font-weight: bold
.sub-dark-color
    color: $sub-dark-color
.field
    margin: 10px
    position: relative
    label, input, .label-link
        font-size: 1.4em
    .label-link
        float: right
    .checkbox-input
        margin-right: 3px
        position: relative
        top: -1px
    .text-input
        font-family: 'PT Sans', sans-serif
        font-size: 1.4em
        +box-sizing($bs)
        width: 100%
        padding: 3px 10px
        border: solid 1px $border-color
        +border-radius
        outline: none
        +single-box-shadow(rgba(0,0,0,.45), 0, 1px, 2px, -1px, inset)
        resize: none
        &:focus
            +single-box-shadow(rgba(0,0,0,.85), 0, 1px, 2px, -1px, inset)
    &.error
        .text-input
            background: rgba(red,.15)
        .caption
            display: block
.mini-field
    display: inline-block
    float: left
    width: 30%
    margin-right: 15px
    &:last-child
        margin-right: 0
.first-field
    margin-top: 36px
    margin-bottom: 15px
.caption
    font-size: 1.2em
    font-style: italic
    color: $sub-dark-color
    display: none
.mini-cart-item-qt
    font-family: 'PT Sans', sans-serif
    font-size: 1em
    font-weight: bold
    text-align: center
    +box-sizing($bs)
    width: 50px
    padding: 3px 5px
    border: solid 1px $border-color
    +border-radius
    outline: none
    +single-box-shadow(rgba(0,0,0,.45), 0, 1px, 2px, -1px, inset)
    position: relative
    &:focus
        +single-box-shadow(rgba(0,0,0,.85), 0, 1px, 2px, -1px, inset)
.mini-cart-item-qt-label
    display: inline-block
.agora-font
    font-family: 'PFAgoraSlabProRegular'     


// Grid
.grid
    +box-sizing($bs)
    float: left
    position: relative
    h2, h3, p 
        margin: 0 20px
.inner
    width: $grid-size
    margin: 0 auto
    position: relative
.text-content-inner
    width: $conrent-size
    margin: 0 auto
    position: relative
.small-col
    width: 30%
.medium-col
    width: 40%
.half-col
    width: 50%
.big-col
    width: 60%
    .popup-body &, .profile-holder &
        width: 70%
.full-size-col
    width: 100%
    h2
        margin: 0 20px  
.multi-form
    padding: 0 0 0 80px
    .big-col
        width: 80%
    p
        margin: 0
.hor-splitter 
    background: $border-color
    width: 100%
    height: 1px
    border-bottom: solid 1px $light-border-color


// Body, header and footer
body 
    background: image-url('main-bg.jpg') repeat #422710
    height: 100%

.site-main-header
    font-family: 'PT Sans Narrow', sans-serif
    background: image-url('header-bg.jpg') center top no-repeat #9a252d
    width: 100%
    height: 100px
    +single-box-shadow(rgba(0,0,0,.45), 0, 4px, 8px)
    .inner
        background: image-url('header-bg.jpg') center bottom no-repeat
        height: 143px

.main-navigation li
    font-size: 2.5em
    display: block
    float: left
    margin: 40px 0 0 0
    &:first-child
        width: 140px
        margin-left: 28px
    &:last-child
        margin-left: 55px
    a
        +link-colors($main-light-color, #f1ecee, #e6e1e3)
        text-shadow: 0 1px 1px $dark-text-shadow, 0 0 13px rgba(255,255,255,.4)
        position: relative
        &.selected:after
            content: ""
            background: rgba(0,0,0,.25)
            display: block
            width: 10px
            height: 10px
            margin-left: -5px
            +border-radius()
            +single-box-shadow(rgba(white,.5), 0, 1px, 1px, 0)
            position: absolute
            top: -8px
            left: 50% 

.logo 
    margin: 0 80px
    position: relative
    top: -32px
footer
    font-size: 1.6em
    line-height: 47px
    color: $main-light-color
    text-align: center
    background: image-url('header-bg.jpg') center top no-repeat #9a252d
    width: 100%


// Popups
.popup-bg
    background: rgba(black, .5)
    display: none
    width: 100%
    height: 100%
    position: fixed
    z-index: 60
.popup-container
    display: none
    width: 100%
    height: 100%
    overflow: auto
    position: fixed
    top: 0
    left: 0
    z-index: 65
.popup-holder
    width: 460px
    margin: 60px 0 0 -230px
    padding-bottom: 30px
    position: absolute
    left: 50%
    z-index: 70
.popup-body
    text-shadow: 0 1px 0px $light-text-shadow
    background: image-url('paper-bg.jpg') repeat #f4f1f2
    width: 460px
    padding: 15px 0
    +border-radius(10px)
    +single-box-shadow(rgba(black,.5), 0, 2px, 6px, 0px)
    h2, p
        margin: 0 10px
    h2
        margin-bottom: -8px
    .hor-splitter
        margin: 15px 0 0
.close-btn
    display: block
    position: absolute
    top: 10px
    right: 10px
    +opacity(.5)
    &:hover
        +opacity(.7)


// Icons
i
    background: $icons
    display: inline-block

@each $icon in sprite_names($icons)
    .icn-#{$icon}
        +sprite-dimensions($icons, $icon)
        background-position: sprite-position($icons, $icon)


// Buttons
.small-btn
    font-size: 1.4em
    font-weight: bold
    text-shadow: none
    display: inline-block
    padding: 3px 10px 2px
    +border-radius
    position: relative
    +translateZ(0)
    +single-transition(all, 200ms, ease-in-out, 1ms)
.big-btn
    font-size: 1.7em
    font-weight: normal
    text-shadow: none
    display: inline-block
    margin: 10px 15px
    padding: 5px 10px 4px
    +border-radius(10px)
    position: relative
    +translateZ(0)
    +single-transition(all, 200ms, ease-in-out, 1ms)
    .in-btn-price
        background: rgba(0,0,0,.2)
        display: inline-block
        padding: 5px 10px
        +border-radius()
        +single-box-shadow(rgba(0,0,0,.2), 0, 1px, 2px, 0px, inset)
    .in-btn-text
        margin: auto 5px auto 15px
.red-btn
    +link-colors($main-light-color, $main-light-color)
    background: $red-button-bg
    +single-box-shadow(adjust-lightness($red-button-bg, -15%), 0, 2px, 0, 0)
    &:hover
        background: adjust-lightness($red-button-bg, 2%)
        +single-box-shadow(adjust-lightness($red-button-bg, -10%), 0, 2px, 0, 0)  
    &:active
        +single-box-shadow(adjust-lightness($red-button-bg, -15%), 0, 1px, 2px, 0px, inset)
        +single-transition(top, 0ms, ease-in-out, 1ms)
        top: 1px
.blue-btn
    +link-colors($main-light-color, $main-light-color)
    background: $blue-button-bg
    +single-box-shadow(adjust-lightness($blue-button-bg, -5%), 0, 2px, 0, 0)
    &:hover
        background: adjust-lightness($blue-button-bg, 2%)
        +single-box-shadow(adjust-lightness($blue-button-bg, -7%), 0, 2px, 0, 0)  
    &:active
        +single-box-shadow(adjust-lightness($blue-button-bg, -15%), 0, 1px, 2px, 0px, inset)
        +single-transition(top, 0ms, ease-in-out, 1ms)
        top: 1px


// User panel
.user-panel-holder 
    width: 100%
    margin-top: 25px
    position: relative
.phone-holder 
    float: left
    width: 50%
    position: absolute
.phone-number
    font-size: 2em
    display: inline-block
    a
        color: $main-light-color
        cursor: text
        pointer-events: none
.icn-phone 
    margin: 0 10px -3px 0

.panel-fix-position
    width: $grid-size/2
    margin-left: $grid-size/2 
    z-index: 50
.user-panel
    background: image-url('main-bg.jpg') repeat #422710
    float: right
    height: 30px
    +border-radius
    +box-shadow(rgba(black, 0.75) 0 1px 2px, rgba(white, 0.15) 0 -1px 15px 0 inset)
    li
        font-size: 1.4em
        display: block
        float: left
        margin: 7px 10px 0
        a
            +link-colors($main-light-color, adjust-lightness($main-light-color, -10%))
.icn-cart 
    margin-bottom: -2px
    padding-right: 7px
.splitter-next:after 
    content: "|"
    color: $border-color
    position: absolute
    margin-left: 8px 


// Mini cart
.mini-cart-container
    text-shadow: 0 1px 0px $light-text-shadow
    background: image-url('paper-bg.jpg') repeat #f4f1f2
    display: none
    width: 230px
    +border-radius(10px)
    border: solid 4px $red-button-bg
    +single-box-shadow(rgba(black, 0.75), 0, 1px, 3px)
    position: absolute
    top: 40px
    right: 0
    z-index: 50
    &.opened
        display: block
.mini-cart-item
    font-size: 1.4em
    display: block
    padding-bottom: 3px
    border-bottom: solid 1px $border-color
.mini-cart-photo-holder
    background: #fff
    float: left
    width: 70px
    height: 70px
    margin: 10px
    border: solid 3px #eee
    +border-radius(70px)
    overflow: hidden
.mini-cart-photo
    width: 70px
    height: 70px
.mini-cart-info
    float: left
    width: 115px
.mini-cart-item-name
    line-height: 1em
    +force-wrap
    display: block
    margin: 20px 0 5px
.mini-cart-btn
    text-align: center
    border-top: solid 1px $light-border-color
.mini-height-scroll-container
    max-height: 280px
    overflow-y: auto
.mini-cart-arrow
    +arrow-shape(top)
    position: absolute
    top: -10px
    right: 25px
.empty-cart-message
    text-align: center
    display: none
    padding: 20px 0
.empty-cart
    .mini-cart-btn
        display: none
    .empty-cart-message
        display: block




// Main slider
.main-slider-container
    width: 100%
    height: 250px
    margin-top: 25px
    padding: 10px 0
.main-slider
    width: 100%
    height: 100%
    .slide
        float: left
        width: 640px
        height: 250px
    .photo-slide
        background: rgba(white,.15)
        +background-size(cover)
        display: block
        width: 620px
        height: 250px
        margin: 0 auto
        +border-radius(10px)
        +single-box-shadow(rgba(black,.5), 0, 1px, 6px, 1px)
        position: relative
.slider-arrow
    background: rgba(white,.75)
    width: 150px
    height: 250px
    position: absolute
    top: 10px
    z-index: 5
    +single-transition(background, 600ms, ease-in-out, 1ms)
    i
        position: absolute
        top: 95px
        left: 50px
        +opacity(.6)
        +single-transition(opacity, 300ms, ease-in-out, 1ms)
    &:hover
        background: rgba(white,.85)
        i
            +opacity(100)
    &:active
        background: rgba(white,0)
        +single-transition(background, 50ms, ease-in-out, 1ms)
.prev-slide
    +border-right-radius(10px)
    left: 0
.next-slide
    +border-left-radius(10px)
    right: 0

.slider-border
    background: image-url('slider-borders.png') no-repeat
    width: 10px
    height: 270px
    position: absolute
    top: 0
    z-index: 10
.left-slider-border
    background-position: 0 0
    left: 0px
.right-slider-border
    background-position: -10px 0
    right: 0


// Menu
.menu-container
    margin-top: 20px
.menu-item
    display: block
    +box-sizing($bs)
    float: left
    width: 20%
    padding-bottom: 12px
    border: dashed 1px rgba(black,0)
    +border-radius(10px)
    position: relative
    .small-btn
        display: table
        margin: 7px auto 0 
        +opacity(0)
        +translateY(10px)
    &:hover
        border: dashed 1px rgba(black,.3)
        +box-shadow(rgba(black,.25) 0 0 40px 0px inset, rgba(white,.05) 0 0 3px 1px)
        .small-btn
            +opacity(100)
            +translateY(0)
    &.info-block
        pointer-events: none
.menu-photo-holder
    width: 164px
    height: 164px
    margin: 20px auto 0
    +border-radius(50%)
    +box-shadow(rgba(238,238,238,.3) 0 0 0 3px, rgba(black,.6) 0 2px 5px 2px)
    overflow: hidden
.menu-photo 
    width: 164px
    height: 164px
.menu-name
    font-size: 1.8em
    +link-colors($main-light-color, adjust-lightness($main-light-color, -10%))
    text-align: center
    display: block
    margin: 15px 10px 0


// Postcard content
.postcard-content
    text-shadow: 0 1px 0px $light-text-shadow
    background: image-url('paper-bg.jpg') repeat #f4f1f2
    width: 100%
    margin: 30px 0
    padding: 25px 0
    +single-box-shadow(rgba(black,.5), 0, 1px, 6px, 1px)
    position: relative
    .hor-splitter 
        margin: 10px
.right-dark-border
    border-right: solid 1px $border-color
.left-light-border
    border-left: solid 1px $light-border-color
.variants
    p 
        padding-top: .3em
    label
        margin-left: 7px
.answers
    font-size: 1.3em
    text-align: center
    background: $border-color
    width: 100%
    margin: 15px 20px 0
    padding: 5px 0
    +border-radius(10px)
.postcard-corener
    background: image-url('postcard-corner.png') no-repeat
    width: 45px
    height: 45px
    position: absolute 
.pc-l-t
    top: -14px
    left: -10px
.pc-r-t
    top: -10px
    right: -14px
    +rotate(90deg)
.pc-l-b
    bottom: -10px
    left: -14px
    +rotate(270deg)
.pc-r-b
    bottom: -14px
    right: -10px
    +rotate(180deg)


// Press
.press-container
    margin: 50px 0 30px
    p
        font-size: 1.6em
        color: $main-light-color  
.press-image 
    background: image-url('press.png') 0 0 no-repeat
    width: 450px
    height: 285px
    position: relative
.press-link
    display: block
    position: absolute
    width: 127px
    height: 127px
.afisha-link
    top: 1px
    left: 319px
.hopes-link
    top: 151px
    left: 230px
.mail-link
    font-size: .95em
    +link-colors($main-light-color, adjust-lightness($main-light-color, -10%))
    i
        margin: 0 1px -2px 0


// Item full card
.full-item-card 
    text-shadow: 0 1px 0px $light-text-shadow
    background: image-url('paper-bg.jpg') repeat #f4f1f2
    width: 100%
    min-height: 370px
    margin: 30px 0
    padding: 30px 0 40px
    +border-radius
    +single-box-shadow(rgba(black,.7), 0, 8px, 12px, -5px)
    overflow: hidden
    position: relative 
.item-big-photo
    position: absolute
    bottom: 5px
    left: 0
    z-index: 5
.full-item-description
    h1
        font-size: 5em
        line-height: .95em
        color: $red-button-bg
        margin: 0 10px 15px
    p
        font-size: 1.5em
        margin: auto 10px
    small
        font-size: 1.3em
        line-height: 1em
    .big-btn
        margin: 0 10px
.nutrition-table
    margin: 25px 0 30px
    .hor-splitter
        margin: 8px 0
.cell-row
    margin: 20px 0 5px 0
.cell-block
    text-align: center
    display: block
    +box-sizing($bs)
    float: left
    width: 25%
    border-right: solid 1px $border-color
    border-left: solid 1px $light-border-color
    &:first-child
        border-left: none
    &:last-child
        border-right: none
.cell-data
    font-size: 4em
.cell-label
    font-size: 1.3em
    font-style: italic
    text-align: center
    display: block
    margin-top: 5px
.gramm-after:after
    content: 'г'
    font-size: .35em
    color: $sub-dark-color


// Main cart
.main-cart-holder
    @extend .full-item-card
    min-height: 0
    padding: 20px 0
    .hor-splitter
        margin: 10px 0 0
    h2
        margin: 0 10px
.main-cart
    margin: 0 0 30px
    padding: 0 0 25px
    +single-box-shadow(rgba(black,.3), 0, 5px, 8px, -2px)
.main-cart-item
    border-bottom: solid 1px $border-color
.main-cart-cell
    float: left
.main-cart-photo-holder
    @extend .mini-cart-photo-holder
.main-cart-photo
    @extend .mini-cart-photo
.main-cart-info
    width: 400px
    margin: 30px 0 10px 25px
.main-cart-item-link
    font-size: 1.8em
.main-cart-item-sub-info
    font-size: 1.3em
    color: $sub-dark-color
    display: block
.main-cart-qt
    font-size: 1.5em
    margin: 24px 0 10px 15px
.main-cart-item-price
    font-size: 1.5em
    font-weight: bold
    text-align: right
    width: 100px
    margin: 31px 0 10px 10px
.main-cart-item-del
    margin: 32px 0 10px 43px
    +opacity(.5)
    &:hover
        +opacity(.9)
.main-cart-sub-total
    font-size: 1.5em
    text-align: right
    float: right
    margin: 20px 0 0
.final-sum
    width: 80px
    display: inline-block
    margin-right: 10px
.total-price
    font-size: 1.2em
    font-weight: bold
    margin: 15px 0 0


// Result card
.result-holder
    @extend .full-item-card
    +box-sizing($bs)
    width: 50%
    min-height: 50px
    margin-right: auto
    margin-left: auto
    padding-right: 50px
    padding-left: 50px
    .hor-splitter
        margin: 10px 0 0


// Profile
.profile-holder
    @extend .main-cart-holder
.ver-shadow-splitter
    background: transparent
    width: 5px
    margin-left: -5px
    +box-shadow(rgba(black,.45) 3px 0 4px -1px)
    position: absolute
    top: 0
    bottom: 0
    left: 30%
.profile-nav-link
    font-size: 2em
    display: block
    +box-sizing($bs)
    padding: 15px 5px 15px 65px
    position: relative
    &.selected
        color: $main-dark-colot
        +background-image(linear-gradient(left, transparent, rgba(white,.7)))
        .icn-selected-nav
            visibility: visible
.icn-selected-nav
    visibility: hidden
    position: absolute
    top: 19px
    right: 25px


// Fix
%group, .group
    &:after
        content: ''
        display: table
        clear: both
.centered
    margin: 0 auto
    position: relative
.centered-text
    text-align: center
#spinner_si 
    display: block
    float: right
    margin-top: 6px
    position: relative
input:disabled, .disabled
    +opacity(.45)
    pointer-events: none

