.main-navigation li:first-child:nth-last-child(5),
.main-navigation li:first-child:nth-last-child(5) ~ li {
    width: 20%;
	margin-left: 0px;
	text-align: center;
}

.logo {
	margin: 0px;
}

.content {
	margin-top: 50px;
}

.whiteboard {
	background: #fff;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px rgba(194,194,194,0.5);
	margin-top: 15px;
}

.add-success {
	display: none;
}

#spinner-top {
	display: block;
	float: right;
	position: relative;
	margin-top: 10px;
}

.order-products thead tr td {
	text-align: center;
}

.order-products tbody tr:nth-last-child(-n+4) td:nth-last-child(-n+2) {
	text-align: right;
}

.order-products thead tr td,
.order-products tbody tr:nth-last-child(-n+4) td {
	font-size: 1.4em;
}

.order-products tfoot tr:last-child td:last-child {
	vertical-align: bottom;
}

.order-products .addrow {
	cursor: pointer;
	color: #149ec5;
	border-bottom: dashed 1px;
}

.admin-size-col {
	width: 70%;
}

.almost-full-size-col {
	width: 95%;
}