.order-status-canceled {
	background-color: #FFDFE0;
}

.almost-full-size-col {
	width: 95%;
}

.green-btn,
.green-btn:hover {
	color: #FFF;
	background: #23BB1D;
	-webkit-box-shadow: 0 2px 0 0 #137923;
	-moz-box-shadow: 0 2px 0 0 #791313;
	box-shadow: 0 2px 0 0 #137923;
}

.green-btn:active {
	-webkit-box-shadow:inset 0 1px 2px 0px #791313;
	-moz-box-shadow:inset 0 1px 2px 0px #791313;
	box-shadow:inset 0 1px 2px 0px #791313;
	-webkit-transition:top 0ms ease-in-out;
	-webkit-transition-delay:1ms;
	-moz-transition:top 0ms ease-in-out 1ms;
	-o-transition:top 0ms ease-in-out 1ms;
	transition:top 0ms ease-in-out 1ms;
	top:1px
}

.deleterow {
	display: none;
}

.whiteboard {
	background: #fff;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px rgba(194,194,194,0.5);
	margin-top: 15px;
}
