/*.info {
	text-align: left;
	padding: 5px;
	font-size: 11px;
	color: #fff;
	position: fixed;
	display: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: -1px 1px 2px #a9a9a9;
	-moz-box-shadow: -1px 1px 2px #a9a9a9;
	box-shadow: -1px 1px 2px #a9a9a9;
	z-index: 80;
}

.error {
	background: #f60000;
	border: 3px solid #d50000;

}

.correct {
	background: #56d800;
	border: 3px solid #008000;
}

.wrong {
	font-weight: bold;
	color: #e90000;
}

.normal {
	font-weight: normal;
	color: #222;
}

*/


/* !!!!!!    Все, что ниже закомменчено — перенс в основные стили*/

/*#spinner_si {
	display: block;
	position: relative;
	float: right;
	margin-top: 6px;
}

.field {
	position: relative;
}*/

#spinner_su {
	display: block;
	position: relative;
	float: right;
	margin-top: 6px;
}

#spinner_cart {
	display: inline-block;
	margin: 10px 0px;
}

.mini-height-scroll-container {
	text-align: center;
}

.company {
	display: none;
}

.half-field {
	display: inline-block;
	float: left;
	width: 47.5%;
	margin-right: 15px;
}

.half-field:last-child {
	margin-right: 0px;
}

.mini-field.error .text-input, .half-field.error .text-input {
	background:rgba(255,0,0,0.15)
}
.mini-field.error .caption, .half-field.error .caption {
	display:block
}

#empty-message {
	display: block;
	text-align: center;
	margin: 30px 0px;
	color: #bb1d1d;
	font-size: 2em;
}

.field .profile-phone {
	width: 90%;
}

.profile-phone-holder {
	display: block;
}

.deleterow {
	background-image: url(/images/icons/delete.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	display: inline-block;
	cursor: pointer;
	float: right;
	margin-top: 4px;
}

.deleterow:hover {
	background-image: url(/images/icons/delete_hover.png);
	background-repeat: no-repeat;
}

.delete-address {
	float: right;
}