HTML, BODY
{
	padding: 0;
	border: 0px none;
	margin: 0;
}

body, button, input, select, textarea {
	font-family: 'PT Sans', arial, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 0.9em;
}

/* Stylish FieldSet */
fieldset
{
	border: 1px #dddddd solid;
	padding: 10px;
	margin-top: 10px;
	position: relative;
}

fieldset legend
{
	border: 1px #1a6f93 solid;
	color: black;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	margin-left: 20px;
}

/* Label */
label
{
	width: 150px;
	padding-left: 20px;
	margin: 5px;
	float: left;
	text-align: left;
}

/* Input text */
input {
	margin: 5px;
	padding: 0px;
	float: left;
	width: 250px;
}
input.button {
	width: auto;
	float: right;
	margin-right: 35px;
}


#error_notification
{
	border: 1px #A25965 solid;
	height: auto;
	padding: 4px;
	background: #F8F0F1;
	text-align: center;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

#success_notification
{
	border: 1px solid #66FF99;
	height: auto;
	padding: 4px;
	text-align: center;
	background-color: #CCFFCC;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}

/* BR */

br { clear: left; }

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#nav {
	float: left;
	width: 200px;
	background-color: #999999;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	color: #FFF;
	padding-bottom: 20px;
}
#nav ul {
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
#nav ul li {
	margin-top: 20px;
}
#nav a{
	color: #FFF;
	text-decoration: none;
}

#nav a:hover{
	color: #cc0000;
}

#content {
	float: right;
	width: 757px;
	border: 1px solid #000;
	min-height: 200px;
	padding-bottom: 20px;
}

.error {
	border: 1px solid #C00;
	background-color: #FCC;
}

label.error {
	position: absolute;
	right: -150px;
	font-size: 0.8em;
}

.orders table {
	margin: 0 auto;
}

.deleterow {
	background-image: url(images/delete.png);
	background-repeat: no-repeat;
	height: 20px;
	width: 20px;
	display: block;
	cursor: pointer;
}

.deleterow:hover {
	background-image: url(images/delete_hover.png);
	background-repeat: no-repeat;
}

.addrow {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	
}

.addrow:hover {
	color: #cc0000;
	border-bottom-color: #cc0000;
	cursor: pointer;
	
}
.orders th {
	font-weight: normal;
	line-height: 1;
}
input.addrow, input.add_order {
	margin: 0px;
}

input.amount {
	width: 30px;
	text-align: center;
}

input.price, input.price_total {
	width: 100px;
	text-align: right;
}

label[for=delivery_time] {
	margin: 0px;
	padding: 0px;
	width: auto;
	float: left;
}
input.delivery_time {
	text-align: center;
	width: 100px;
	margin: 0px;
	padding: 0px;
	float: right;
}

.left {
	float: left;
}

.bill, .delivery {
	padding-right: 7px;
}
.comment {
	margin-top: 20px;
	height: 100px;
	width: 290px;
}
